:root {
    --main-background: hsl(217, 54%, 11%);
    --card-background: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);

    --ff: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
}

a:hover {
    cursor: pointer;
    color: var(--cyan);
}

body, .flex-box {
    display: flex;
}

body, .flex-column {
    flex-direction: column;
}

body {
    min-height: 100vh;
    padding: 1rem;

    font-family: var(--ff);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
    color: var(--soft-blue);

    background-color: var(--main-background);

    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

section {
    max-width: 22rem;
    padding: 1.25rem;
    background-color: var(--card-background);
    border-radius: .75rem;
    gap: 1.5rem;
}

.decoration {
    border-radius: .75rem;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.equilibrium-image {
    position: relative;
    width: 100%;
    border-radius: .75rem;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 5;
}

.glass {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: stretch;
    justify-self: stretch;
    z-index: 3;

    background-color: var(--cyan);
    opacity: .5;

    border-radius: .75rem;
}

.eye-icon {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 4;
}

.decoration:hover {
    cursor: pointer;
}

.decoration:hover .equilibrium-image {
    opacity: .5;
    background-color: var(--cyan);
    z-index: 2;
}

h1 a {
    font-weight: 600;
}

.data {
    justify-content: space-between;
}

.data-item {
    align-items: center;
    gap: .5rem;
}

.eth {
    color: var(--cyan);
    font-weight: 600;
}

.decoration-line {
    width: 100%;
    border: .05rem solid var(--line);
}

.author {
    align-items: center;
    gap: 1rem;

    margin-bottom: .5rem;
}

.avatar {
    width: 12%;
    border-radius: 50%;
    border: .08rem solid var(--white);
}

.author span{
    color: var(--white);
}

footer {
    text-align: center;
}

footer a{
    color: var(--cyan);
}

footer a:hover {
    color: var(--white);
}